services:
  db:
    image: postgres:15-alpine
    container_name: gaming_chair_db
    restart: always
    environment:
      POSTGRES_DB: gaming_chair_list
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: